<% fields_with_errors = [] %>
<h2>Edit List</h2>
<%= form_for @list do |f| -%>
  <%= f.error_messages %>
	<h3>Basic Details</h3>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :show_on_menu %>
    <%= f.check_box :show_on_menu %>
  </p>

  <p><%= f.submit "Update" %></p>


  <h3>Fields</h3>
  <br />

  <table>
    <tr>
      <th>Actions</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
    <% for field in @list.schema_fields %>
      <tr>
        <td>
          <%= link_to "Delete", list_field_path(@list, field), method: 'DELETE', confirm: "Are you sure?" %>
        </td>
        <td><%= field.name %></td> 
        <td><%= field.data_type %></td> 
      </tr>
    <% end -%>
  </table>
  <% first_field_with_error = @list.schema_fields.map{|fld| fld.errors.count}.index{|x| x > 0} %>

  <br />
  <%= link_to "Add Field", new_list_field_path(@list) %>

<% end -%>