<h1><%= @list.name %></h1>
<table>
  <tr>
    <th>Actions</th>
    <% for field in @list.schema_fields || [] -%>
      <th><%= field.name %></th>
    <% end -%>
  </tr>
  <% for item in @list.items -%>
    <tr>
      <td>
        <%= link_to "View", {:controller => :items, :action => 'show', :id => item.intid} %>
        <%= link_to "Edit", {:controller => :items, :action => "edit", :id => item.intid}  %>
        <%= link_to "Delete", {:controller => :items, :action => "destroy", :id => item.intid}, method: 'DELETE', confirm: "Are you sure?" %>
      </td>
      <% for field in @list.schema_fields -%>
      <td>
          <%= render 'field_value', field: field, item: item %>
      </td>
      <% end -%>
    </tr>
  <% end -%>
</table>
<p>
  <%= link_to image_tag("addbtn.png", :border=>0), :action => 'new' -%>
</p>