<h1><%= @list.name -%> Item <%= @item.intid -%></h1>

<% for field in @list.schema_fields -%>
  <p style="border-bottom:1px dashed #DDDDDD">
    <strong style="width:200px;display:inline-block"><%= field.name -%></strong>
      <span>
        <%= render 'field_value', field: field, item: @item %>
      </span>
    </p>
  <% end -%>
<%= link_to "Return", list_items_path -%>